.mainhead{
    font-family: Verdena;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
.backgroundcolor{
    font-family: Verdana, sans-serif;
    background-color:black;
    text-align: center;
    color:white;
}